/* css styles */


/* Make all the text on the website smaller */
body {
  font-size: 18px; /* You can make it even smaller by changing 14px to 12px */
}

/* Make headings smaller */
h1 {
  font-size: 38px; /* Change the size of main headings */
}

h2 {
  font-size: 30px; /* Change the size of subheadings */
}

/* Make paragraph text smaller */
p {
  font-size: 20px; /* Change the size of paragraph text */
}
